
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Slab:wght@100;200&display=swap');

*{
  margin: 0;
font-size: 18px;
font-family: 'Poppins', sans-serif;
font: 100;
 }
 body{
  background-image: linear-gradient(rgba(8, 5, 15, 0.3),rgba(6, 2, 6, 0.7)), url(starimg.avif) ;
 }

 .main{
  display: flex;
  flex-direction: column;
justify-content: center;
  align-items: center;
text-align: center;


 }
 .image-name{
  text-align: center;
  align-items: center;
  color: azure;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
 }
 .my_img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px dotted rgba(228, 255, 188,0.7) ;
 }

 .links{
  list-style: none;
 }
 a{
  text-decoration: none;
  color: azure;
 }
 .links .link-cdn{
  padding: 2px 70px;
  border: 2px solid transparent;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin-top: 20px;
  color: azure;
background:linear-gradient(rgba(70, 29, 82, 0.3),rgba(34, 34, 19, 0.7)), url(stars.jpg);
  cursor: pointer;
 
 
 }
 
  .link-cdn:hover{
  color: azure;
  background:linear-gradient(rgba(64, 8, 168, 0.3),rgba(148, 98, 171, 0.7)), url(starimg.avif);
transition: 4ms ease;
 }

@media (max-width:500px) {
  .links .link-cdn{
    padding: 2px 80px;
    border: 2px solid transparent;
    margin-right: 40px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    color: azure;
  background:linear-gradient(rgba(70, 29, 82, 0.3),rgba(34, 34, 19, 0.7)), url(stars.jpg);
    cursor: pointer;
   
   
   }
}
